<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tokard.dev</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://unpkg.com/htmx.org@2.0.0" integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="static/imgs/favicon.png">
</head>
<body>
    <div id="tp">
    <div class="context" style="z-index: 2; height: 100%; width: 100%; background-color: black;" id="context">
        <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
            <button type="button" class="btn btn-danger btn-lg" hx-get="/get-nsfw" hx-target="#tp" id="btnLaunch">I'm 18+</button>
        </div>
    </div>  
    </div>  

</body>
</html>