<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login | Tokard.dev</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/background.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='imgs/favicon.png') }}">
</head>
<body>
    <div class="context">
        <div style="position: absolute; width: 100%; text-align: center;">
        {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert {{ category }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
        </div>

        <div class=" d-flex flex-column justify-content-center align-items-center">
                <div class="d-flex justify-content-center" style="width: 100%; overflow-y: auto; max-height: 100vh;">
                    <div style="z-index: 1;">
                        <div style="padding-left: 10px; padding-right: 10px; margin-top: 60px;">
                            <a href="/" style="text-decoration: none;" draggable="false">
                                <div class="card" style="width: 100%; margin-bottom: 60px; background: rgba(255, 255, 255, 0); border-radius: 0px; box-shadow: 0 4px 30px rgba(0, 0, 0, 0.0); backdrop-filter: blur(0px);">
                                    <img src="https://tokarddev.github.io/tokard.dev/flaskr/static/imgs/tokachannel.svg" class="card-img-top" alt="logo">
                                </div>
                            </a>
                            
            
                                <div class="card" style="width: 100%; margin-bottom: 20px;">
                                    <div class="card-body text-light">
                                        <form method="POST" action="{{ url_for('login') }}" name="loginform">
                                            <div class="form-group">
                                                <label for="username" class="logintext">Username</label>
                                                <input type="text" class="form-control formlogin" id="username" name="username">
                                            </div>
                                            <div class="form-group">
                                                <label for="password" class="logintext">Password</label>
                                                <input type="password" class="form-control formlogin" id="password" name="password">
                                            </div>
                                            <input type="submit" style="position: absolute; left: -9999px;">
                                        </form>
                                    </div>
                                </div>

                                <a href="javascript:submitform()" style="text-decoration: none;" draggable="false">
                                    <div class="card" style="width: 100%; margin-bottom: 20px;">
                                        <div class="card-body text-light text-center">
                                            <h2 class="buttonlinks">
                                                Login
                                        </div>
                                    </div>
                                </a>

                                <script>
                                    function submitform (){
                                            document.forms["loginform"].submit();
                                    }
                                </script>


                                </div>
                            <br/>
            
            
                        </div>
                    </div>
                </div>
        </div>

    </div>
    
     <div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
</div >

</body>
</html>