<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tokard.dev</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/background.css">
    <link rel="icon" type="image/x-icon" href="static/imgs/favicon.png">
</head>
<body>
    <div class="context" style="z-index: 1;">
        <div class="d-flex justify-content-center" style="width: 100%; overflow-y: auto; max-height: 100vh;">
                <div style="padding-left: 10px; padding-right: 10px; margin-top: 60px;">
                    <a href="/" style="text-decoration: none;" draggable="false">
                        <div class="card" style="width: 100%; margin-bottom: 60px; background: rgba(255, 255, 255, 0); border-radius: 0px; box-shadow: 0 4px 30px rgba(0, 0, 0, 0.0); backdrop-filter: blur(0px);">
                            <img src="https://tokarddev.github.io/tokard.dev/flaskr/static/imgs/tokachannel.png" class="card-img-top" alt="logo" draggable="false">
                        </div>
                    </a>
                    
    
                    <a href="/links" style="text-decoration: none;" draggable="false">
                        <div class="card" style="width: 100%; margin-bottom: 20px;">
                            <div class="card-body text-light text-center">
                                <h2 class="buttonlinks">
                                    Social Networks
                                </h2>
                            </div>
                        </div>
                    </a>

                    <a href="/commissions" style="text-decoration: none;" draggable="false">
                        <div class="card" style="width: 100%; margin-bottom: 20px;">
                            <div class="card-body text-light text-center">
                                <h2 class="buttonlinks">
                                    Commissions Prices
                                </h2>
                            </div>
                        </div>
                    </a>
    
                    {% if 'user' in session %}
                    <a href="/add-redirect" style="text-decoration: none;" draggable="false">
                        <div class="card" style="width: 100%; margin-bottom: 20px;">
                            <div class="card-body text-light text-center">
                                <h2 class="buttonlinks">URL Shortener</h2>
                            </div>
                        </div>
                    </a>

                    <a href="/add-commissions" style="text-decoration: none;" draggable="false">
                        <div class="card" style="width: 100%; margin-bottom: 20px;">
                            <div class="card-body text-light text-center">
                                <h2 class="buttonlinks">Add Commission</h2>
                            </div>
                        </div>
                    </a>
    
                    <a href="/logout" style="text-decoration: none;" draggable="false">
                        <div class="card" style="width: 100%;">
                            <div class="card-body text-light text-center">
                                <h2 class="buttonlinks">Logout</h2>
                            </div>
                        </div>
                    </a>
    
                    {% endif %}
    
                    <br/>
    
    
                </div>
        </div>
        </div>

     <div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
    </div >

</body>
</html>